
//colores
$dark: #151515;
$dark-light: #242424;
$white: #FFFFFF;
$grey: #D9D9D9;
$green-electro:#4EE1A0;
$red-electro:#FF6F5B;

//tipografías
$title-typography: 'space-grotesk-bold';
$text-typography: 'space-grotesk-medium';


 //RESPONSIVE
$bp-mobile: 375px;
$bp-tablet: 768px;
$bp-desktop-xl: 1440px;